:root {
  font-family: Arial,Inter, system-ui, Avenir, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}
ul {
  list-style-type: none
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0F0F0F;
}
* {
  color: #FFFFFF;
}
body, p, span, a, h1, h2, h3, h4, h5, h6 {
  cursor: default;
}
@media screen and (max-width: 880px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}